<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <h1>"What's up"</h1>
    <h1>"Here are all of the artists:"</h1>
    <% @artists.each do |genre| %>
    <%= genre %>
    <% end %>
  </body>
  
</html>